.storyCard__textContainer {
    margin: -5% 0;
    height: 100%;
    width: 52%;
    z-index: 3;
    flex: 0 1 auto;
    color: white;
}

.storyCard__left {
    padding: 0 3rem 0 0;
}

.storyCard__right {
    padding: 0 0 0 3rem;
}

.storyCard__title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: 600;
    margin: 0 0 0.4em;
}

.storyCard__subtitle {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0.75em 0 0.25em;
}