.storyCardOffline {
    background-color: black;
    margin-bottom: 8px;
    padding: 70px 45px;
}

.storyCardOffline__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.storyCardOffline__videoContainer {
    position: relative;
    overflow: hidden;
    display: block;
    width: 48%;
    height: 100%;
    min-height: 100px;

    margin: -2% 0 -2% -5%;
}

.storyCardOffline__image {
    border: 0;
    height: auto;
    max-width: 100%;
}

.storyCardOffline__animationContainer {
    display: flex;
    align-items: center;

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 8%;

    width: 60%;
    min-width: 15em;
    background-color: black;
    margin: 0 auto;
    padding: 0.5em 0.75em;
    border: 2px solid hsla(0, 0%, 100%, .25);
    border-radius: 0.75em;
}

.storyCardOffline__animationImageContainer {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1em 0 0;
}

.storyCardOffline__animationImage {
    height: 5em;
    max-width: 100%;
}

.storyCardOffline__animationTextContainer {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3em 0;
}

.storyCardOffline__animationTopText {
    color: white;
    font-weight: 500;
    font-size: 1em;
}

.storyCardOffline__animationBottomText {
    color: hsl(211, 100%, 46%);
    font-weight: 400;
    font-size: .9em;
}

.storyCardOffline_animationGif {
    background: url("../../assets/images/downloaded.gif") 50% no-repeat;
    background-size: 100%;
    height: 3.75em;
    width: 3em;

    flex-grow: 0;
    flex-shrink: 0;
    outline: 2px solid black;
    outline-offset: -2px;

    display: block;
    content: "";
}