.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/images/backdrop.jpg") center no-repeat;
    background-size: cover;
    object-fit: contain;
    position: absolute;
    z-index: -1;
    top: 0;

    width: 100vw;
    height: 758px;
}

.hero__gradient {
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.7) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.7) 100%);

    height: inherit;
}