.storyCardKids {
    background-color: black;
    margin-bottom: 8px;
    padding: 70px 45px;
}

.storyCardKids__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.storyCardKids__imageContainer {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 48%;
}

.storyCardKids__image {
    position: relative;
    z-index: 2;
    border: 0;
    height: auto;
    max-width: 100%;

    overflow-clip-margin: content-box;
    overflow: clip;
}