.storyCardTV {
    background-color: black;
    margin-bottom: 10px;
    padding: 30px 5%;
}

.storyCardTV__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.storyCardTV__videoContainer {
    position: relative;
    overflow: hidden;
    display: block;
}

.storyCardTV__image {
    position: relative;
    z-index: 2;
    border: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.storyCardTV__video {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 46%;
    left: 50%;
    height: 100%;
    width: 100%;
    max-height: 54%;
    max-width: 73%;
}