.heroBody {
    /* position: relative; */
    color: white;
    margin: 0 auto;
    padding: 120px 0;
    max-width: 950px;
    width: 100%;
    text-align: center;
    z-index: 1111
}

.heroBody__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-inline: 50px;
}

.heroBody__container > h1 {
    max-width: 640px;
    font-size: 4rem;
    line-height: 1.1;
}

.heroBody__container > h2 {
    max-width: 800px;
    font-size: 1.625rem;
    margin: 1rem auto;
    font-weight: 400;
}

.heroBody__container > h3 {
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-weight: 400;
}
