.heroBody {
    /* position: relative; */
    color: white;
    margin: 0 auto;
    padding: 120px 0;
    max-width: 950px;
    width: 100%;
    text-align: center;
    z-index: 1111
}

.heroBody__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-inline: 50px;
}

.heroBody__container > h1 {
    max-width: 640px;
    font-size: 4rem;
    line-height: 1.1;
}

.heroBody__container > h2 {
    max-width: 800px;
    font-size: 1.625rem;
    margin: 1rem auto;
    font-weight: 400;
}

.heroBody__container > h3 {
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-weight: 400;
}

.heroBody__form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.herobody__form__inputGroup {
    position: relative;
}

/* #herobody__form__input:not(:focus) ~ .herobody__form__label, */
#herobody__form__input:not(:focus):valid ~ .herobody__form__label {
    position: absolute;
    font-size: 16px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    cursor: default;
}

.herobody__form__label {
    color: gray;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.2s ease all;
}

#herobody__form__input {
    width: 100%;
    min-width: 500px;
    height: 70px;
    padding: 10px 10px 0;
    box-shadow: none;
    appearance: none;
    outline-width: 0;
    /* border: 1px solid hsl(0, 0%, 55%); */
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
}

.herobody__form__button {
    font-size: 1.875rem;
    background-color: #e50914;
    color: white;

    min-height: 70px;
    min-width: 74px;
    padding: 0 1em;
    width: auto;
    
    border-radius: 2px;
    border: 0;
    border-left: 1px solid #333;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;

    vertical-align: center;
    font-weight: 400;

    display: flex;
    align-items: center;
}

.herobody__form__button__chevron {
    height: 1.5rem;
    margin-inline: 5px 0;
}