.emailForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 0.85rem;
}

.emailForm__title {
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-weight: 400;
}

.emailForm__container {
    display: flex;
    flex-direction: column;
}

.emailForm__inputGroup {
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

#emailForm__input:focus~.emailForm__label,
#emailForm__input:not(:focus):valid~.emailForm__label {
    position: absolute;
    left: 10px;
    top: 14px;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;
}

.emailForm__label {
    color: gray;
    position: absolute;
    font-size: 16px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    cursor: default;
    transition: 0.2s ease all;
}

#emailForm__input {
    width: auto;
    min-width: 500px;
    height: 70px;
    padding: 10px 10px 0;
    box-shadow: none;
    appearance: none;
    outline-width: 0;
    /* border: 1px solid hsl(0, 0%, 55%); */
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
}

.emailForm__button {
    font-size: 1.875rem;
    background-color: hsl(357, 92%, 47%);
    color: white;

    min-height: 70px;
    min-width: 74px;
    padding: 0 1em;
    width: auto;

    border-radius: 2px;
    border: 0;
    border-left: 1px solid #333;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;

    vertical-align: center;
    font-weight: 400;

    display: inline-flex;
    align-items: center;
    z-index: 1;
}

.emailForm__button__chevron {
    height: 1.5rem;
    margin-inline: 5px 0;
}

.emailForm__button:hover {
    background-color: hsl(357, 92%, 50%);
}

.emailForm__button:active {
    background-color: hsl(357, 92%, 40%);

}

.emailForm__button:focus {
    outline: 2px solid hsl(357, 92%, 30%);
}

.emailForm__inputError__text {
    align-self: start;
    color: #ffa00a;
    font-size: 15px;
    padding: 6px 3px;
    text-align: left;
}