* {
  margin: 0;
}

@font-face {
  font-family: netflixRegular;
  src: url('./assets/fonts/NetflixSans-Regular.woff2');
}

@font-face {
  font-family: netflixBold;
  src: url('./assets/fonts/NetflixSans-Bold.woff2');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: netflixRegular, netflixBold, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 7%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
