.banner {
    position: relative;
    height: 75vh;
    object-fit: contain;
    color: white;
}

.banner__contents {
    box-sizing: border-box;
    margin-left: 30px;
    padding-top: 200px;
    height: 60vh;
}

.banner__title {
    font-size: 4rem;
    font-weight: 800;
    max-width: 45vw;
    padding-bottom: 0.5rem;
}

.banner__buttons {
    display: flex;
    align-items: center;
}

.banner__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-inline: 1.7rem;
    margin-right: 1rem;
    padding-block: 0.6rem;
}

.banner__icon {
    margin-right: 6px;
}
.banner__play {
    background-color: hsl(0, 0%, 90%)
}

.banner__list {
    background-color: hsl(0, 0%, 32%);
    color: white;
}

.banner__button:hover {
    color: white;
    background-color: hsl(0, 0%, 10%);
    transition: all 0.2s;
}

.banner__description {
    --max-lines: 4;
    --line-height: 1.5;

    max-height: calc(var(--max-lines) * 1rem * var(--line-height));
    line-height: var(--line-height);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);

    font-size: 1rem;
    width: 45rem;
    padding-top: 1rem;
    max-width: 30vw;
}

.banner--fadeBottom {
    height: 15vh;
    background-image: linear-gradient(180deg,
            transparent,
            hsla(0, 0%, 15%, 0.61),
            hsl(0, 0%, 7%)
        );
}